<html>
    <head>

    </head>
    <body>
        <h3>form to add meds</h3>
        <form class="" action="/meds/add" method="post">
        <input type="text" name="name" placeholder="medicine name"/>
        <input type="text" name="count" placeholder="count"/>
        <input type="text" name="brand" placeholder="brand"/>
        <button type="submit">Add</button>
        </form>
    </body>
</html>